.inputGroup {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.inputWithIcon {
    position: relative;
}

.input {
    width: 100%;
    padding: 10px 10px 10px 45px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}

.input:focus {
    border-color: #629677;
    outline: none;
}

.passwordStrength {
    margin-top: 5px;
    font-size: 0.9em;
}

.icon {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    pointer-events: none;
    font-size: 1.1em;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    height: calc(100% - 12px);
    margin-top: 6px;
}
