/* .title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

.errorMessage {
    color: red;
    font-size: 15px;
}

.link {
    color: #00b5b1;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
} */